/* The animation code */
body {
    background-color: powderblue;
}

@keyframes example {
    10% {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 20px;
        height: 20px;
        border: 1rem solid;
    }
    20% {
        left: 0px;
        top: 750px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 20px;
        height: 20px;
        border: 1rem solid;
    }
    30% {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 20px;
        height: 20px;
        border: 1rem solid;
    }
    40% {
        left: 0px;
        top: 750px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 20px;
        height: 20px;
        border: 1rem solid;
    }
    50% {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 20px;
        height: 20px;
        border: 1rem solid;
    }
    60% {
        left: 0px;
        top: 750px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 80px;
        height: 80px;
        border: thick double #000000;
    }
    70% {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 80px;
        height: 80px;
        border: thick double #000000;
    }
    80% {
        left: 0px;
        top: 750px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 80px;
        height: 80px;
        border: thick double #000000;
    }
    90% {
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20xp;
        background-color: rebeccapurple;
        width: 80px;
        height: 80px;
        border: thick double #000000;
    }
}
/* The animation code */

@keyframes example2 {
    10% {
        opacity: 1;
         background: green;

    }
    20% {
        opacity: 1;
         background: green;

    }
    30% {
        opacity: .33;
         background: blue;

    }
    40% {
        opacity: .33;
        background: blue;


    }
    50% {
        opacity: 1;
        background: green;

    }
    60% {
        opacity: 1;
        background: green;

    }
    70% {
        opacity: .33;
        background: blue;

    }
    80% {
        opacity: .33;
        background: blue;

    }
    90% {
        opacity: 1;
        background: green;

    }
    100% {
        opacity: 1;
        background: green;

    }
}

div {
    position: relative;
}

#animate1 {
    animation-name: example;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#animate2 {
    animation-name: example2;
    animation-duration: 10s;
       animation-iteration-count: infinite;
        animation-iteration-count: ease-out;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 320px;
  left: 0;
}
